@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  background-color: rgb(32, 32, 37);
}
form{
  width: 100%;
}
form input{
  width: 15%;
  padding: 6px 10px;
  outline: none;
  background-color: transparent;
  border:  1px solid white;
  color: white;
  border-radius: 16px;
  margin-right: 5px;
}
form button{
  padding: 6px 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 16px;
  cursor: pointer;
  transition-duration: 0.3s;
}
form button:hover{
  background-color: white;
  color: black;
}
.weather-info{
  width: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
}
.weather-info .left-side{
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
.left-side .cloudness-icon, .left-side .temp-value{
  height: 100px;
  width: 100px;
  border: 1px solid red;
}
.left-side .temp-unit{
  height: 100px;
  width: 60px;
  border: 1px solid orange;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  color: gray;
}
.temp-unit button{
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 1rem;
  cursor: pointer;
}
.info-container{
  height: 100px;
  color: gray;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.weather-info .right-side{
  height: 100px;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}
.right-side .city{
  color: white;
  font-size: 2rem;
}
.weather-forecast{
  height: 120px;
  border: 1px solid white;
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.weather-forecast .card{
  width: 100px;
  height: 100%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
}
.card .weather-icon{
  width: 80%;
  height: 70%;
  border: 1px solid blue;
}
.card .temp{
  display: flex;
  gap: 5px;
}
.temp .high-temp span{
  color: white;
  font-size: 0.9rem;
}
.temp .low-temp span{
  color: gray;
  font-size: 0.9rem;
}
